name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    # ---------- FRONTEND ----------
    - name: Build & Push Frontend
      run: |
        cd frontend
        docker build -t ${{ secrets.DOCKER_USERNAME }}/insightflow-frontend:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/insightflow-frontend:latest

    # ---------- BACKEND ----------
    - name: Build & Push Backend
      run: |
        cd backend
        docker build -t ${{ secrets.DOCKER_USERNAME }}/insightflow-backend:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/insightflow-backend:latest

    # ---------- DEPLOY ----------
    - name: Deploy on EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/insightflow-frontend:latest
          docker pull ${{ secrets.DOCKER_USERNAME }}/insightflow-backend:latest
          docker compose up -d
